html {
    font-size: 100%;
    box-sizing: border-box;
}

body {
    margin: 0px;
    padding: 0px;
    min-height: 100vh;
    background-color: rgb(178, 172, 201);
}

*, *::before, *::after {
    box-sizing: inherit;
}


a {
    color: rgb(201, 211, 210);
}

h1 {
    padding: 20px 35px;
    background-color: #39a6b2;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }